// colors
$primary: #d4a373;
$secondary: #efefef;
$input-border: #495057;
$dark: #212529;
$gray: #343a40;

// screen sizes
$tablet: 1024px;
$mobile: 768px;
$mobileSmall: 440px;

// fonts
$sans: 'Open Sans', sans-serif;
$serif: 'Alegreya', serif;
