.button {
  padding: 10px;
  min-width: 323px;
  font-weight: 700;
  background-color: $primary;
  text-align: center;
  color: white;
  transition: 300ms;
  cursor: pointer;
  outline: none;
  border: none;

  &:hover {
    background-color: #b08a5e;
  }

  @include media($mobile) {
    min-width: 126px;
  }
}
