.newsCard {
  background-color: #efefef;
  border-radius: 5px;
  overflow: hidden;
  max-width: 310px;
  min-height: 475px;
  position: relative;
  transition: 500ms;
  cursor: pointer;

  // @include media($tablet) {
  //   max-width: 100%;
  // }

  @include media($mobile) {
    grid-template-columns: 1fr;
  }

  .newsCard__image-container {
    @extend .overflow-hidden;
    height: 310px;

    .newsCard__image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: 500ms;
      transform: scale(1);
    }

    &:hover {
      .newsCard__image {
        transform: scale(1.07);
      }
    }
  }

  &:hover {
    background-color: #e5e5e5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
    transform: translateY(-2px);
    transition: all 0.3s ease;
  }

  .cardContent--newsCard {
    @extend .cardContent--featuredCard;
    gap: 10px;
  }

  .date,
  p {
    color: black;
    font-size: 12px;
  }

  h2 {
    color: black;
    font-size: 18px;
    @extend .line-clamp-2;
  }
}
